.reminder-pro {
  /*width: 480px;*/
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reminder-pro-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
}

.list-group > li {
  margin: 2px;
}

.list-item {
  display: inline-block;
}

.delete-button {
  float: right;
  margin-right: 5px;
  cursor: pointer;
}

.reminder-pro-button {
  display: inherit;
  margin: 15px auto;
}
