.title {
  padding-left: 15px;
}

.nav-bar {
  background-color: #E6E6E6;
  font-family: "Cabin","Helvetica Neue",Helvetica, Arial, sans-serif;
  padding: 10px 0;
}

.nav-bar li {
  display: inline-block;
}

.nav-bar li a {
  padding-left: 10px;
}

.react-tabs {
  margin-top: 10px;
}

.react-tabs ul > li {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.react-tabs ul > li:hover {
  color: inherit;
  background-color: #E6E6E6;
  transition: background-color 0.2s linear;
}
